<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedAppointments()" [disabled]="!selectedAppointments || !selectedAppointments.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="appointments" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['medicalSituation','probableStartTime','actualEndTime','appointmentStatus']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedAppointments" selectionMode="multiple" [rowHover]="true" dataKey="_id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Appointments</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                      <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                      <th pSortableColumn="medicalSituation">Medical Situation <p-sortIcon field="medicalSituation"></p-sortIcon></th>
                      <th pSortableColumn="probableStartTime">Start Time <p-sortIcon field="probableStartTime"></p-sortIcon></th>
                      <th pSortableColumn="actualEndTime">End Time <p-sortIcon field="actualEndTime"></p-sortIcon></th>
                      <th pSortableColumn="appointmentStatus">Status <p-sortIcon field="appointmentStatus"></p-sortIcon></th>
                      <th pSortableColumn="emailMed">Doctor's Email <p-sortIcon field="emailMed"></p-sortIcon></th>
                      <th pSortableColumn="medicineId">Medicine Name <p-sortIcon field="medicineId"></p-sortIcon></th>
                      <th pSortableColumn="userId">User Name <p-sortIcon field="userId"></p-sortIcon></th>
                      <th></th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-appointment>
                    <tr>
                      <td>
                        <p-tableCheckbox [value]="appointment"></p-tableCheckbox>
                      </td>
                      <td style="width: 14%; min-width: 10rem;">
                        <span class="p-column-title">Medical Situation</span>
                        {{ appointment.medicalSituation }}
                      </td>
                      <td style="width: 14%; min-width: 10rem;">
                        <span class="p-column-title">Start Time</span>
                        {{ appointment.probableStartTime }}
                      </td>
                      <td style="width: 14%; min-width: 10rem;">
                        <span class="p-column-title">End Time</span>
                        {{ appointment.actualEndTime }}
                      </td>
                      <td>
                        {{ appointment.appointmentStatus }}
                      </td>
                      <td>
                        {{ appointment.emailMed }}
                      </td>
                      <td>
                        {{ appointment.medicineId }}
                      </td>
                      <td>
                        {{ appointment.userId }}
                      </td>
                      <td>
                        <div class="flex">
                          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editAppointment(appointment)"></button>
                          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAppointment(appointment)"></button>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="appointmentDialog" [style]="{ width: '450px' }" header="Appointment Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <div class="field">
                <label for="medicalSituation">Medical Situation</label>
                <input type="text" pInputText id="medicalSituation" [(ngModel)]="appointment.medicalSituation" required autofocus [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.medicalSituation }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.medicalSituation">Medical Situation is required.</small>
              </div>
              <div class="field">
                <label for="probableStartTime">Start Time</label>
                <input type="text" pInputText id="probableStartTime" [(ngModel)]="appointment.probableStartTime" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.probableStartTime }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.probableStartTime">Start Time is required.</small>
              </div>
              <div class="field">
                <label for="actualEndTime">End Time</label>
                <input type="text" pInputText id="actualEndTime" [(ngModel)]="appointment.actualEndTime" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.actualEndTime }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.actualEndTime">End Time is required.</small>
              </div>

              <div class="field">
                <label for="appointmentStatus">Appointment Status</label>
                <input type="text" pInputText id="appointmentStatus" [(ngModel)]="appointment.appointmentStatus" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.appointmentStatus }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.appointmentStatus">Appointment Status is required.</small>
              </div>
              <div class="field">
                <label for="emailMed">Doctor's Email</label>
                <input type="email" pInputText id="emailMed" [(ngModel)]="appointment.emailMed" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.emailMed }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.emailMed">Doctor's Email is required.</small>
              </div>
              <div class="field">
                <label for="medicineId">Medicine ID</label>
                <input type="text" pInputText id="medicineId" [(ngModel)]="appointment.medicineId" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.medicineId }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.medicineId">Medicine ID is required.</small>
              </div>
              <div class="field">
                <label for="userId">User ID</label>
                <input type="text" pInputText id="userId" [(ngModel)]="appointment.userId" required [ngClass]="{ 'ng-invalid ng-dirty': submitted && !appointment.userId }" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !appointment.userId">User ID is required.</small>
              </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveAppointment()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAppointmentDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="appointment">Are you sure you want to delete <b>{{appointment.medicalSituation}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAppointmentDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteAppointmentsDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected appointments?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteAppointmentsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
